streamlit==1.48.1
pandas==2.2.3
numpy==1.26.4
plotly==6.3.0
PyPDF2==3.0.1
pillow==10.4.0
pytesseract==0.3.10
easyocr==1.7.2
spacy==3.8.7
tensorflow==2.17.0
scikit-learn==1.5.2
xgboost==3.0.4
google-generativeai==0.8.5
